<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
    <h1>Text Analyzer</h1>
    <form action='analyze' method="get">
        <textarea name='text' style='margin: 0px; width: 1299px; height: 242px;'>
        </textarea> <br>
        <input type="checkbox" name="removepunc"> Remove Punctutaion <br>
        <input type="checkbox" name="fullcaps"> UPPERCASE <br>
        <input type="checkbox" name="newlineremover"> New Line Remover <br>
        <input type="checkbox" name="extraspaceremover">Extra Space Remover <br>
        <button type="submit">Analyze Text</button>
    </form>

</body>
</html>